/vendor/
/node_modules
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vagrant
/nbproject
.env.dusk.*
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
/.vscode
.php_cs.cache
coverage.xml
/coverage
composer.lock